<section class="content-header">
	<h1>
            设备工作量统计
		<small>统计某时间段各设备的检查量</small>
	</h1>
	<ol class="breadcrumb">
		<!--<li><a ui-sref="home"><i class="fa fa-dashboard"></i> home</a></li>-->
		<li class="active">home</li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
    <searchpanel></searchpanel>
    <!-- Your Page Content Here -->
    <table style="width:100%;">
        <tr>
            <td style="width: 30%;vertical-align: top;">
                <table  ng-table="$ctrl.tableParams" class="table table-bordered mytb">
                    <thead>
                        <tr><th>医院</th><th>设备编号</th><th>检查数量</th></tr>
                    </thead>
                    <tr ng-repeat="item in $ctrl.items">
                    <td>{{item.DepartName}}</td>
                    <td>{{item.DeviceId}}</td>
                    <td>{{item.totalexam}}</td>
                </tr>
                </table>
            </td>
            <td>
                <echarts options="options" height="60rem"></echarts>
            </td>
        </tr>
    </table>
	
    
</section>
<!-- /.content -->