<div>
    <label><input type="radio" name="selType" ng-click="SetSelTypes()" ng-value="1" ng-model="selTypes">按年</label>
    <label><input type="radio" name="selType" ng-click="SetSelTypes()" ng-value="2" ng-model="selTypes">按月</label>
    <label><input type="radio" name="selType" ng-click="SetSelTypes()" ng-value="3" ng-model="selTypes">自定义</label>
    <div class="datepanel" ng-if="selTypes==1||selTypes==2">
        <select class="startDate" ng-model="SelstartDate" ng-options="sd.name as sd.name for sd in startDates">
        </select>至<select class="endDate" ng-model="SelendDate" ng-options="ed.name as ed.name for ed in endDates"></select>
    </div>
    <div class="datepanel" ng-if="selTypes==3">
        <datepicker date-month-title="selected year" date-year-title="selected title">
            <input ng-model="selstartdate"/>
        </datepicker>
        至
        <datepicker date-month-title="selected year" date-year-title="selected title">
            <input ng-model="selenddate"/>
        </datepicker>
    </div>
    <button class="btnconfirm" ng-click="Statistics()">确认</button>
</div>